body {
    background: rgb(255, 255, 255);
    margin: 0em;
}

.grid-container {
    display: grid;
    grid-template:
        'title nav nav'
        'header header header'
        'section section section'
        'section section section'
        'section section section'
        'footer footer footer';
    background-color: #c4ccd2;
}

.grid-container>* {
    margin: 0em;
}

h1 {
    grid-area: title;
    background: rgb(130, 130, 203);
}

nav {
    grid-area: nav;
    background: rgb(167, 167, 204);
}

h1,
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: blue;
}

li {
    display: inline;
    padding-right: 3em;
}

.headerimg {
    grid-area: header;
    max-width: 100%;
    height: 30em;
    background: url(images/default/1194px-Nassarius_bellulus_01.JPG) center/cover no-repeat fixed;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
    background: red;
}

@media screen and (max-width: 700px) {

    .grid-container {
        display: grid;
        grid-template:
            'title title title'
            'nav nav nav'
            'header header header'
            'section section section'
            'section section section'
            'section section section'
            'footer footer footer';
        background-color: #c4ccd2;
    }

    .headerimg {
        grid-area: header;
        max-width: 100%;
        height: 20em;
        background: url(images/default/1194px-Nassarius_bellulus_01.JPG) center/cover no-repeat;
    }

}